<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmap of Top 150 Bikeshare Routes in New York City</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>



        <script type="text/javascript">
        <% ruby_rows = [] %>
        <% @arr_of_arrs.each_with_index do |row, index| %>
            <% ruby_rows[index] = row %>
        <% end %>
        <%= "var dataset = #{ruby_rows.to_json};" %> 

        </script>

    <script type="text/javascript" src="datascript.js"></script>

  </head>

  <body>
      <div id="map-canvas"></div>
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>

  </body>
</html>